/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-image: url("../img/background.jpg");
}

img {
  max-width: 100%;
}

.container {
  width: 90rem;
  margin: 0 auto;
}

header {
  background-position: center;
  background-attachment: fixed;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav-items {
  display: flex;
  list-style: none;
  margin-right: 5%;
  gap: 2rem;
}

.nav-items li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  gap: 2rem;
}

.titulo {
  color: #fff;
  font-size: 4.5rem;
  text-decoration: none;
}

.fondo-negro {
  color: black;
}

.footer-container {
  width: 90rem;
  margin: 1 auto;
}

footer {
  background-color: black;
  width: 90rem;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  color: #eee;
}


.titulo {
  font-size: 2.4rem;
  gap: .05em;
}

.Seccion-contacto {
  list-style: none;
}

.info-contenedor {
  background: white;          
  max-width: 900px;               
  margin: 30px auto;             
  padding: 30px;                  
  border-radius: 10px;            
}

.sobre-nosotros, 
.contacto {
  text-align: center;
  margin-bottom: 20px;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form-contacto input,
.form-contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: .3rem;
  font-size: 1rem;
}

.form-contacto button {
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.form-contacto button:hover {
  background: #333;
}

.blog {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 900px;                  
  margin: 0 auto 30px;
  padding: 20px;
  text-align: center;
}

.blog-post {
  display: flex;
  background: #eafdff;
  margin: 15px 0;
  text-align: left;
}

.blog-img {
  width: 20%;              
  max-width: 190px;
  height: auto;
}

.blog-contenido {
  width: 80%;
  padding: 3rem;
}

.blog-contenido h3 {
  margin: 0 0 10px;
}

.blog-contenido p {
  margin: 5px 0;
}

.blog-contenido blockquote {
  margin: 10px 0;
  color: #333;
}